version: '3.4'
services:
  workbench:
    build:
      context: .
      dockerfile: Dockerfile
    tty: true
    image: workbench_i
    container_name: workbench_c
    volumes:
      # store configuration
      - mysql-workbench:/root/.mysql/workbench
      - ./tmp/.docker.xauth:/tmp/.docker.xauth:rw
      - ./data:/data:rw
    environment:
      - XAUTHORITY=/tmp/.docker.xauth
      - DISPLAY
    network_mode: "host"

volumes:
  mysql-workbench:
